@font-face {
  font-family:"Maison Neue Light";
  src: url('../fonts/MaisonNeue-Light.woff') format('woff');
}

@font-face {
  font-family:"Maison Neue";
  src: url('../fonts/MaisonNeue-Book.woff') format('woff');
  unicode-range: U+0000-007A;
}

@font-face {
  font-family:"Maison Neue Demi";
  src: url('../fonts/MaisonNeue-Demi.woff') format('woff');
}

@font-face {
  font-family:"Maison Neue Bold";
  src: url('../fonts/MaisonNeue-Bold.woff') format('woff');
}

@font-face {
  font-family:"Maison Neue Black";
  src: url('../fonts/MaisonNeue-Black.woff') format('woff');
}

@font-face {
  font-family:"Maison Mono";
  src: url('../fonts/MaisonMono-Regular.woff') format('woff');
}